.card {
  box-shadow: 10px 11px 19px -2px rgba(115, 105, 105, 0.57);
  -webkit-box-shadow: 10px 11px 19px -2px rgba(115, 105, 105, 0.57);
  -moz-box-shadow: 10px 11px 19px -2px rgba(115, 105, 105, 0.57);
  margin: 0 auto;
  padding: 20px;
  border-radius: 4px;
}

@media screen and (min-width: 480px) {
  .card {
    width: 50%;
  }
}

@media screen and (min-width: 780px) {
  .card {
    width: 33%;
  }
}
