.button {
  background-color: var(--buttons);
  color: var(--background);
  border-color: var(--buttons);
  border-radius: 10px;
  padding: 10px;
  margin: 5px;

  &-icon{
    border-radius: 49% !important;
    border: 0px;
  }
}

.danger{
  background-color: var(--danger);
  border-color: var(--danger);
}
