/* You can add global styles to this file, and also import other style files */

:root {
  --primary: #748DA6;
  --secondary: #9CB4CC;
  --tertiary: #D3CEDF;
  --quaternary: #F2D7D9;
  --background: #f3f5f7;
  --font: #7e8484;
  --label: #43484a;
  --font-secondary: #b8c9cf;
  --buttons: #fc6a00;
  --principal: #fc6a00;
  --principal-first: #fc690071;
  --success: #49c152;
  --error: rgb(194 66 57);
}
